<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="sobre mi" content="descripción de Jontxu">
    <title>descripcion de Jontxu</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1>Todo lo que no desearías saber sobre mí</h1>
    <nav>
        <a href="/">Home</a>
        <a href="/works">Works</a>
    </nav>
    </header>
    <div class="container">
        
   

    <section class="infancia">
        <div>
            <h2>Mi infancia</h2>
            <img src="/pictures/minijontxu.jpg" alt="miniJontxu">
            <p>Nací en Deusto (Bilbao) el 4 de Mayo de 1989, el más pequeño de la familia. Desde enano no pude evitar amar unos colores rojiblancos y es por eso que uno de los primeros recuerdos de mi vida es mi primera equipación del Athletic con el 8 de Julen Guerrero. Mis primeros pasos en el campo de la enseñanza fueron siempre bien divertidos, teniendo en cuenta que el patio del colegio era un monte entero donde compartiamos la vida con liebres que perseguiamos por toda la zona. Después de una infancia llena de convivencia con la cultura del pueblo, llegó el momento de dejar Bilbao y empezar una nueva etapa en Barcelona junto con mi familia. </p>
        </div>
    </section>
    <section class="adolescencia">
        <div>
            <h2>Mi adolescencia</h2>
            <img src="/pictures/jontxucolegio.jpg" alt="Jontxu flipao">
            <p>Mis inicios fueron algo duros. Empezar una vida nueva es algo complicado según a qué edad te toque. No conocía a nadie, no sabía nada de catalán, no conocía la ciudad... Poco a poco pude abrirme camino en muchos campos, la música me ayudó bastante, tanto que incluso empecé a escribir mis propias canciones al poco de llegar a Barcelona. A día de hoy sigo con ello de hecho.</p>
        </div>
    </section>

    <section class="universidad">
        <div>
            <h2>Mi etapa universitaria</h2>
            <img src="/public/pictures/foto_uni.jpg" alt="Jontxu universitario">
            <p>Me decanté por Derecho porque no tenía muy claro qué estudiar en mi vida y parecía la opción más comodín. Estuve a punto de dejarlo el primer año por mis malos resultados en las primeras convocatorias pero con otra mentalidad de afrontar lo que quedaba de curso, me tranquilicé y pude sacarme casi todas las materias de golpe. Tardé finalmente 6 años en acabar la carrera como graduado en Derecho. Como aporte final puedo decir que fui uno de los padres fundadores de las fiestas de mi facultad, pues éramos la única sin fiestas propias de la UB.</p>
        </div>
    </section>
    </div>
</body>
</html>