<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="descripcion" content="descripcion sobre mi persona">
    <meta name="autor" content="Jontxu">
    <title>La vida de Jontxu</title>
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <header>
        <h1>Descubriendo a Jontxu</h1>
    </header>
    <nav>
        <a href="/about-me">Sobre mí</a>
        <a href="/works">Works</a>
    </nav>
    <div class="container">
        <section>
            <article>
                <p>Esto es un primer ejercicio de prueba de html y CSS para probar las rutas de diferentes enlaces de navegador y aportando estilos. El navegador contiene tres enlaces diferentes: <strong>  Sobre mi, Hobbies, Anécdotas</strong></p>
            </article>
            <img class="foto-presentacion" src="/pictures/jontxutxapelaathletic.jpg" alt="En todo mi esplendor">
            <img class="foto-presentacion" src="/pictures/descarga.jpg" alt="Aupa Athletic">
        </section>
        <div>
            <footer>Por favor no intenten hacer esto en sus computadoras. Puede ser un quebradero de cabeza importante si acabas de empezar.
            </footer>
        </div>
    </div>   
</body>
</html>