<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="hobbies" content="aficiones">
        <title>Hobbies de Jontxu</title>
        <link rel="stylesheet" href="/public/css/styles.css">
    </head>

    <body>
        <header>
            <h1>Frikadas varias</h1>
            <nav>
                <a href="/views/home.html">Home</a>
                <a href="/views/about-me.html">Sobre mí</a>
                <a href="/views/works.html">Hobbies</a>
            </nav>
        </header>

        <div class="container">

        <section class="aficiones">
            <div>
                <h2>Dibujar</h2>
                <p>Parece ser que es algo que viene de familia y cuando digo que soy el que peor dibuja en mi familia, casi nadie me cree. Es simplemente un hobbie, no le dedico el tiempo que me gustaría pero siempre va bien como distracción, una terapia con uno mismo.</p>
                <img src="/public/pictures/dibujochica.jpg" alt="Ejemplo de dibujo hecho por Jontxu">
                <a href="https://www.instagram.com/jontxu_zama89/?hl=es">Click para ver algunos de mis dibujos.</a>
            </div>
            <div>
                <h2>Rap</h2>
                <p>No soy precisamente un profesional pero creo que me defiendo musicalmente con la de años que le sigo dedicando a ello. He hecho algunas colaboraciones sencillas con amigos, algunas maquetas y temas sueltos colgados por mis redes. A nivel de conciertos no he hecho gran cosa, todo para 4 gatos muchas veces.</p>
                <img src="/public/pictures/jontxurapea.jpg" alt="Jontxu en concierto">
                <a href="https://www.youtube.com/watch?v=IJIav0BoKbg&list=PLXxONWhOEGqXf3qs9aNhjKxwV1cXM5fb8"> Click para escuchar algunos trabajos.</a>
            </div>
            <div>
                <h2>Carnavales</h2>
                <p>Me costó convencerme que la idea de disfrazarse era divertida. Hasta hace 10 años casi no lo había hecho y ahora es una de las fechas que más espero durante el año es carnaval y procuro trabajármelo bien semanas antes.</p>
                <img src="/public/pictures/jontxupeakyblinder.jpg" alt="Jontxu Peaky Blinder">
            </div>
        </section>
        </div>
    </body>
</html>